<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="..static/images/escudo-uabc-favicon.png"
	type="image/x-icon" th:href="@{/images/escudo-uabc-favicon.png}">
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link href="../static/css/template.css" rel="stylesheet"
	th:href="@{/css/template.css}" />
<title>Auditoría Interna</title>
<style>
/* Make the image fully responsive */
.carousel-inner img {
	width: 100%;
	height: 100%;
}
</style>

</head>
<body>
	<div class="container-fluid">
		<header th:insert="fragments/header :: navbar"> </header>
	</div>

	<div class="main container-fluid">
		<h1 class="titulo-seccion bold text-center">
		Menú de Administrador
		</h1>

		<div class="contenido-formulario">
<div  class="row">
<div  class="col-lg-12">


<a class="btn btn-danger  btn-lg btn-block" th:href="@{/admin/cursos/listaCursos}" role="button" title=""><i class="fas fa-file" aria-hidden="true"></i> Cursos</a>                            

</div>
</div>
<div  class="row">
<div  class="col-lg-12">


<a class="btn btn-info btn-lg btn-block" th:href="@{/admin/cursos/listaCursos}" role="button" title=""><i class="fas fa-file" aria-hidden="true"></i> Usuarios</a>                            

</div>
</div>
<div  class="row">
<div  class="col-lg-12">


<a class="btn btn-primary  btn-lg btn-block" th:href="@{/admin/cursos/listaPerfiles}" role="button" title=""><i class="fas fa-file" aria-hidden="true"></i> Perfiles</a>                            

</div>
</div>
<div  class="row">

<div  class="col-lg-12">
<button type="button" class="btn btn-secondary  btn-lg btn-block">Asistentes</button>

</div>
</div>
<div  class="row">

<div  class="col-lg-12">
<button type="button" class="btn btn-success  btn-lg btn-block">Carrousel</button>

</div>
</div>
			
				</div>
			

		</div>




	</div>


	<div th:insert="fragments/footer :: footer"></div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/template.js" th:src="@{/js/template.js}"></script>

	<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>