<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet"
	th:href="@{//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css}">
<!--   <link rel="stylesheet" th:href="@{//resources/demos/style.css}">-->

<link rel="shortcut icon" href="..static/images/escudo-uabc-favicon.png"
	type="image/x-icon" th:href="@{/images/escudo-uabc-favicon.png}">
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link href="../static/css/template.css" rel="stylesheet"
	th:href="@{/css/template.css}" />
	
<title>Auditoría Interna</title>
<style>
/* Make the image fully responsive */
.carousel-inner img {
	width: 100%;
	height: 100%;
}
</style>

</head>
<body onload="ajustarform()">
	<div class="container-fluid">
		<header th:insert="fragments/header :: navbar"> </header>
	</div>

	<div class="main container-fluid">
		<!--  <h1 class="titulo-seccion bold text-center">
		Registro 
		</h1>-->

		<div class="contenido-formulario">
			<div class="card">
				<h5 class="card-header">
					<strong>Datos del perfil</strong>
				</h5>
				<div class="card-body">
					<form th:action="@{/perfiles/save}" method=POST
						th:object="${perfil}" enctype="multipart/form-data">
						<div th:if="${#fields.hasErrors('*')}" class='alert alert-danger'
							role='alert'>
							Por favor corrija los siguientes errores:
							<ul>
								<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
							</ul>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<label for="perfil">Nombre del perfil</label>
									 <input type="hidden" th:field="*{idPerfil}">
									 <input type="text" class="form-control" th:field="*{nombre}" id="nombre"
										name="nombre" placeholder="Nombre del perfil"
										required="required">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<label for="detalles">Detalles del perfil</label>
									 <input type="text" class="form-control" th:field="*{detalles}" id="detalles"
										name="detalles" placeholder="detalles"
										required="required">
								</div>
							</div>
							
							</div>
								
				
	

						<button type="submit" class="btn btn-primary float-right">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	</div>




	</div>


	<div th:insert="fragments/footer :: footer"></div>


	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/template.js" th:src="@{/js/template.js}"></script>
	<script th:src="@{/tinymce/tinymce.min.js}"></script>
<!--      <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
        <script th:src="@{../datetimepicker/jquery.datetimepicker.full.js}"></script> -->
	<script>
// 		 $(function() {
// 			$("#fecha").datepicker({
// 				dateFormat : 'dd-mm-yy'
// 			});
// 		}); 
		
	/* 	 $(document).ready(function () {
             $.datetimepicker.setLocale('es');
             $('#fecha').datetimepicker({value: '2017/04/20 11:22', step: 10});
         }); */

		$(document).ready(function() {
			document.getElementById("plat").setAttribute("class", "mostrar");
			document.getElementById("lug").setAttribute("class", "ocultar");
		});

		
	</script>

	<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>