<meta charset="UTF-8"/>
		<footer>
			<!-- Barra de enlaces -->
	        <div class="container-fluid">
	            <div class="barra-enlaces">
	                <a href="/">
	                    <img src="/images/enlaces/imagen_aviso.png" alt="">
	                </a>
	                <a href="http://radio.uabc.mx/" target="_blank">
	                    <img src="/images/enlaces/btn_uabcradio_06.png" alt="UABC Radio"> UABC Radio
	                </a>
	                <a href="http://www.uabc.mx/institucion/catalogo/" target="_blank">
	                    <img src="/images/enlaces/btn_catserv_03.png" alt="Catálogo de servicios"> Catálogo de servicios
	                </a>
	                <a href="http://transparencia.uabc.mx/" target="_blank">
	                    <img src="/images/enlaces/btn_trans_06.png" alt="Transparencia"> Transparencia
	                </a>
	                <a href="http://transparencia.uabc.mx/ContraloriaSocial/" target="_blank">
	                    <img src="/images/enlaces/btn_contrsoc_06.png" alt="Contraloría Social"> Contraloría Social
	                </a>
	                <a href="http://correo.uabc.edu.mx/" target="_blank">
	                    <img src="/images/enlaces/btn_correo_15.png" alt="Correo UABC"> Correo UABC
	                </a>
	                <a href="http://www.imagenuabc.tv/" target="_blank">
	                    <img src="/images/enlaces/btn_bilbioteca_06.png" alt="Biblioteca"> Biblioteca
	                </a>
	            </div>
	        </div>
	        <!-- Sección de enlaces -->
	        <div class="container-fluid enlaces">
	            <div class="row">
	                <div class="col-sm text-center">
	                    <p class="encabezado-enlace">Quiénes somos</p>
	                    <a href="mision-y-vision">Misión y Visión</a>
	                    <a href="patronos">Patronos</a>
	                    <a href="atribuciones">Atribuciones</a>
	                    <a href="organigrama">Organigrama</a>
	                    <a href="politica-de-calidad">Política de calidad</a>
	                </div>
	                <div class="col-sm text-center">
	                    <p class="encabezado-enlace">Catálogo de Servicios</p>
	                    <a href="catalogo-de-servicios">Catálogo de Servicios</a>
	                    <a href="pensiones-y-jubilaciones">Pensiones y jubilaciones</a>
	                    <a href="http://">Constancias de adeudos</a>
	                    <a href="servicios-a-alumnos">A alumnos</a>
	                </div>
	                <div class="col-sm text-center">
	                    <p class="encabezado-enlace">Sitios de interés</p>
	                    <a href="http://www.uabc.mx/" target="_blank">Portal UABC</a>
	                    <a href="http://www.uabc.mx/dir-tel/" target="_blank">Directorio UABC</a>
	                    <a href="http://transparencia.uabc.mx/Aviso_Privacidad/index.html" target="_blank">Aviso de Privacidad Institucional</a>
	                    <a href="https://www.contadorvisitasgratis.com" title="contador de visitas web"><img src="https://counter3.stat.ovh/private/contadorvisitasgratis.php?c=dcga29bme41g8n7c32ebcdtqfbr4cbxs" border="0" title="contador de visitas web" alt="contador de visitas web"></a>
	                    
	                </div>
	            </div>
	        </div>
            <div class="footer">
                <div class="f-enlaces">
                	<a href="https://www.educacionsuperior.sep.gob.mx/" target="_blank"><img src="/images/footer/sep.png" alt="SEP"></a>
                    <a href="http://www.anuies.mx/" target="_blank"><img src="/images/footer/anuies.png" alt="ANUIES"></a>
                    <a href="http://www.cumex.org.mx/" target="_blank"><img src="/images/footer/cumex.png" alt="CUMEX"></a>
                    <a href="http://www.cumex.org.mx/" target="_blank"><img src="/images/footer/ciees.png" alt="CIESS"></a>
                    <a href="https://www.copaes.org/" target="_blank"><img src="/images/footer/copaes.png" alt="COPAES"></a>
                    <a href="https://www.conacyt.gob.mx/" target="_blank"><img src="/images/footer/conacyt.png" alt="CONACYT"></a>
                    <a href="http://www.scimagojr.com/journalrank.php?country=MX&page=2&total_size=102" target="_blank"><img src="/images/footer/scopus.png" alt="SCOPUS"></a>
                    <a href="https://www.topuniversities.com/universities/universidad-autonoma-de-baja-california" target="_blank"><img src="/images/footer/qs_logo_uabc.png" alt="QS"></a>
                    <a href="https://www.timeshighereducation.com/world-university-rankings/autonomous-university-baja-california" target="_blank"><img src="/images/footer/logo_the.png" alt="THE"></a>
                </div>
                <p class="f-texto rm">Universidad Autónoma de Baja California</p>
                <p class="f-texto rm">&copy; 2020 Patronato Universitario</p>
            </div>
        </footer>