<meta charset="UTF-8">
<div th:fragment="navbar">
	<div class="header">
	
	
		<div class="row rm">
	
			<div class="col-md-2">
			
				<img src="/images/escudo-uabc.png" class="escudo-uabc" alt="Inicio">
			</div>
			<div class="rp col-md-10">
				<h1 class="titulo mt1">Universidad Autónoma de Baja California</h1>
				<h2 class="titulo dependencia">Auditoría Interna</h2>
				 <div class="divtraductor"><div class="flag">
					   <a href="#" class="flag_link es" data-lang="es"><img class="img-fluid"  alt=""><img src="/images/flag-es.png" width="30" height="25"></a>
					   <a href="#" class="flag_link en" data-lang="en"><img class="img-fluid"  alt=""><img src="/images/flag-en.png" width="30" height="25"></a>
   
  
					</div></div>
			</div>
				
			
		</div>
			
	</div>
	
	<div class="container-fluid">
	
        <nav class="navbar navbar-expand-lg navbar-dark color-navbar navbar-round bg-white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quiénes Somos</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropdownMenuLink">
                        	<li class="dropdown-item"><a href="mision-y-vision">Misión y Visión</a></li>
                            <li class="dropdown-item"><a href="patronos">Patronos</a></li>
                            <li class="dropdown-item"><a href="organigrama">Organigrama</a></li>
                            <li class="dropdown-item"><a href="atribuciones">Atribuciones</a></li>
                            <li class="dropdown-item"><a href="politica-de-calidad">Política de Calidad</a></li>
                            <li class="dropdown-item"><a href="informacion-curricular">Información Curricular</a></li>
                            <li class="dropdown-item"><a href="manual-de-organizacion">Manual de Organización</a></li>
                            <li class="dropdown-item"><a href="codigo-etica-y-consulta">Código de Ética y Conducta</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catálogo de servicios</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-item"><a href="catalogo-de-servicios">Cátalogo de servicio</a></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">A Empleados</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="pensiones-y-jubilaciones">Pensiones y jubilaciones</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item"><a href="servicios-a-alumnos">A Alumnos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transparencia</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-item"><a href="ley-estatal">Ley Estatal de Transparencia</a></li>
                            <li class="dropdown-item"><a href="declaracion-patrimonial">Declaración Patrimonial</a></li>
                            <li class="dropdown-item"><a href="acuerdos-patronato">Acuerdos del Patronato</a></li>
                            <li class="dropdown-item"><a href="remates">Remates</a></li>
                            <li class="dropdown-item"><a href="fondo-pensiones">Fondo de pensiones</a></li>
                            <li class="dropdown-item"><a href="auditoria-informes">Informes de Auditorías</a></li>
                            <li class="dropdown-item"><a href="acta-entrega-recepcion">Acta de Entrega-Recepción</a></li>
                            <li class="dropdown-item"><a href="estados-financieros">Estados Financieros UABC</a></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Cuenta Pública</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="cuenta-publica-2014">2014</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="cuenta-publica-2015">2015</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="cuenta-publica-2016">2016</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="cuenta-publica-2017">2017</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="cuenta-publica-2018">2018</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="cuenta-publica-2019">2019</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="cuenta-publica-2020">2020</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item"><a href="presupuesto-anual">Presupuesto UABC</a></li>
                            <li class="dropdown-item"><a href="contratos-y-convenios">Contratos y convenios</a></li>
                            <li class="dropdown-submenu">
                            	 <a class="dropdown-item" tabindex="-1" href="#">Informes PROFOCIES / PFCE / PROFEXCE</a>
                            	<ul class="dropdown-menu">
                            		<li class="dropdown-item"><a tabindex="-1" href="profocie">PROFOCIE</a></li>
                            		<li class="dropdown-item"><a tabindex="-1" href="pfce">PFCE</a></li>
                            		<li class="dropdown-item"><a tabindex="-1" href="profexce">PROFEXCE</a></li>
                            	</ul>
                            </li>
                            <li class="dropdown-item"><a href="presupuesto-ciudadano">Presupuesto Ciudadano</a></li>
                            <li class="dropdown-item"><a href="http://www.uabc.mx/planeacion/fondos_extraordinarios.htm" target="_blank">Fondos Extraordinarios (Informe)</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dependencias</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Tesorería</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="tesoreria-facultades">Facultades</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="tesoreria-departamentos">Departamentos</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Auditoría Interna</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="auditoria-interna-facultades">Facultades</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="auditoria-interna-departamentos">Departamentos</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="auditoria-interna-organigrama">Organigrama</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Contaduría</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="contaduria-facultades">Facultades</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="contaduria-departamentos">Departamentos</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="contaduria-organigrama">Organigrama</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" tabindex="-1" href="#">Unidad de Presupuesto y Finanzas</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="unidad-presupuesto-y-finanzas-facultades">Facultades</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="unidad-presupuesto-y-finanzas-departamentos">Departamentos</a></li>
                                    <li class="dropdown-item"><a tabindex="-1" href="unidad-presupuesto-y-finanzas-organigrama">Organigrama</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item"><a href="entidades-asociadas">Entidades Asociadas de la Universidad</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Control patrimonial</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-item"><a href="sistema-de-inventarios-de-activos-fijos">Sistema de inventarios de activos fijos</a></li>
                            <li class="dropdown-item"><a href="sucop">Sistema Universitario de Control Patrimonial (SUCOP)</a></li>
                            <li class="dropdown-item"><a href="reglas-de-operacion-pfce">Reglas de Operación PFCE "Etiquetas"</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="comentarios">Comentarios</a></li>
                     
                    
                    
	<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"   th:src="@{https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit}"></script> 

                </ul>
                
            </div>
        
        </nav>
        <div class="divtraductor">  <div  id="google_translate_element" class="google"></div></div> 
       
        
     
    </div>
</div>


