<meta charset="UTF-8">
<div th:fragment="navbar">
	<div class="header">
	
	
		<div class="row rm">
	
			<div class="col-md-2">
			
				<img src="/images/escudo-uabc.png" class="escudo-uabc" alt="Inicio">
			</div>
			<div class="rp col-md-10">
				<h1 class="titulo mt1">Universidad Autónoma de Baja California</h1>
				<h2 class="titulo dependencia">Auditoría Interna</h2>
				 <div class="divtraductor"><div class="flag">
					   <a href="#" class="flag_link es" data-lang="es"><img class="img-fluid"  alt=""><img src="/images/flag-es.png" width="30" height="25"></a>
					   <a href="#" class="flag_link en" data-lang="en"><img class="img-fluid"  alt=""><img src="/images/flag-en.png" width="30" height="25"></a>
   
  
					</div></div>
			</div>
				
			
		</div>
			
	</div>
	
	<div class="container-fluid">
	
        <nav class="navbar navbar-expand-lg navbar-dark color-navbar navbar-round bg-white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Auditoría Interna</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDropdownMenuLink">
                        	<li class="dropdown-item"><a th:href="@{/auditoria/facultades}">Facultades</a></li>
                            <li class="dropdown-item"><a th:href="@{/auditoria/departamentos}">Departamentos</a></li>
                            <li class="dropdown-item"><a th:href="@{/auditoria/organigrama}">Organigrama</a></li>
  
                        </ul>
                    </li>
              
                    <li class="nav-item"><a class="nav-link" th:href="@{/auditoria/declaracion-patrimonial}">Declaración Patrimonial</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/auditoria/entrega-recepcion}">Entrega Recepción</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/auditoria/control-interno}">Control Interno</a></li>
                    
                	<li class="nav-item"><a class="nav-link" th:href="@{/cursos/listado}">Cursos</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/comentarios/formulario}">Comentarios</a></li>
                     
                     <ul class="navbar-nav">
                    <li class="nav-item "><a class="nav-link" th:href="@{/comentarios/formulario}"><img th:src="@{/images/iniciar-sesion.png}" alt="HTML tutorial" style="width:20px;height:20px;"></a></li>
                   </ul>
                    
                    
	<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"   th:src="@{https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit}"></script> 

                </ul>
                
            </div>
        
        </nav>
        <div class="divtraductor">  <div  id="google_translate_element" class="google"></div></div> 
       
        
     
    </div>
</div>


