<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>UABC - Patronato Universitario UABC</title>
<link rel="shortcut icon" href="..static/images/escudo-uabc-favicon.png"
	type="image/x-icon" th:href="@{/images/escudo-uabc-favicon.png}">
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link href="../static/css/template.css" rel="stylesheet"
	th:href="@{/css/template.css}"/>
</head>
<body>
		<!--  Header -->
		<header th:insert="fragments/header :: navbar"> </header>

		<!-- Contenido Principal -->
		<div class="main container-fluid">
			<!-- Todo el contenido principal se coloca aquí -->
			<div class="contenido">

<div class="row">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/images/cursos/{img} (img=${curso.imagen})}" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <div class="card">
              <h4 class="card-header"> <strong th:text="${curso.nombre}"></strong></h4>              
              <div class="card-body">
                <h5 class="card-title"><strong>Fecha: </strong> <span th:text="${#dates.format(curso.fecha,'dd-MM-yyyy HH:mm')}"></span></h5>
                
                <h6 class="card-title"><strong>Presentador: </strong> <span th:text="${curso.presentador}"></span></h6>    
                <span th:if="${curso.modalidad==1}"> 
                <h6 class="card-title"><strong>Modalidad: </strong> <span>Online</span></h6> 
                         <h6 class="card-title"><strong>Plataforma: </strong><span th:text="${curso.plataforma}"></span></h6>    
              	</span>
              	<span th:unless="${curso.modalidad==1}"> 
                <h6 class="card-title"><strong>Modalidad: </strong> <span>Presencial</span></h6>  
                <h6 class="card-title"><strong>Lugar: </strong> <span>Paraninfo Universitario</span></h6>  
                   
              	</span>
                <span th:if="${curso.modalidad==1}">            
       
                </span>
                <span th:unless="${curso.modalidad==1}"> 
                </span>
                <p th:text ="${curso.descripcion}"class="card-text"></p>
                <div class="card bg-light mb-3" >
                  <div class="card-body">
                    <h5 class="card-title">Detalles del curso</h5>
                <p th:text ="${curso.detalle}"class="card-text"></p>
                  </div>
                </div>   
                
                <span th:if="${curso.estatus==1}">
                <a class="btn btn-success float-right" th:href="@{/cursos/createAsistente/{id} (id=${curso.idcurso}) }" role="button" title=""><i class="fas fa-file" aria-hidden="true"></i> Registrarse</a>                            
              	</span>
              	 <span th:unless="${curso.estatus==1}">
              	<a class="btn btn-secondary float-right" href="#" role="button" title=""><i class="fas fa-file" aria-hidden="true"></i> Descargar presentación</a>  
              	<a class="btn btn-primary float-right" href="#" role="button" title=""><i class="fas fa-file" aria-hidden="true"></i> Descargar video de curso</a>                            
              	</span>            
              	
              </div>
            </div>  
          </div>
        </div>
			
						</div>
			
			
		</div>

		<!-- Fin del contenido principal -->

	<!-- Footer -->
	<div th:insert="fragments/footer :: footer"></div>
	</div>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/template.js" th:src="@{/js/template.js}"></script>
	<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>